<mat-accordion multi=true hideToggle>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Angular Fundamentals</mat-panel-title>
            <mat-panel-description>
                Total Duration:3 hr
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit veniam recusandae amet inventore! Possimus sit natus dolorem ipsum quaerat sed, expedita dignissimos amet repudiandae iure dicta reiciendis qui doloribus aliquid?</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Angular Fundamentals</mat-panel-title>
            <mat-panel-description>
                Total Duration:3 hr
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit veniam recusandae amet inventore! Possimus sit natus dolorem ipsum quaerat sed, expedita dignissimos amet repudiandae iure dicta reiciendis qui doloribus aliquid?</p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>