<mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
    <button mat-menu-item  [matMenuTriggerFor]="subMenu">Frontend</button>
    <button mat-menu-item>Backend</button>
</mat-menu>
<button class="center" mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>

<mat-menu #subMenu="matMenu" >
    <button mat-menu-item [matMenuTriggerFor]="subMenu2">Angular</button>
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>Angular</button>
</mat-menu>
<mat-menu #subMenu2="matMenu" >
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>Angular</button>
</mat-menu>

<mat-menu #lazyMenu>
    <ng-template matMenuContent let-name="name" let-hobby="hobby">
        <button mat-menu-item>Setting</button>
        <button mat-menu-item>Hobby is {{hobby}}</button>
        <button mat-menu-item>Logout {{name}}</button>
    </ng-template>
</mat-menu>

<button  mat-flat-button [matMenuTriggerData] ="{name:'Firoz',hobby:'Bike Riding'}" [matMenuTriggerFor]="lazyMenu">Firoz</button>
<button  mat-flat-button [matMenuTriggerData] ="{name:'Techzone',hobby:'Mobile'}" [matMenuTriggerFor]="lazyMenu">TechZone</button>
