<mat-checkbox>
    Subscribe
</mat-checkbox>
<br>
<mat-checkbox labelPosition="before">
    Subscribe
</mat-checkbox>
<br>
<mat-checkbox labelPosition="before" color="primary">
    Subscribe
</mat-checkbox>
<br>
<mat-checkbox labelPosition="after" color="warn">
    Subscribe
</mat-checkbox>
<br><hr>
<mat-radio-group>
    <mat-radio-button value="Angular"color="primary">Angular</mat-radio-button>
    <mat-radio-button value="Raect">Raect</mat-radio-button>
    <mat-radio-button value="Nodejs"color="warn">Nodejs</mat-radio-button>
</mat-radio-group>